<form>
  <div>
    <label>Username</label>
    <!-- <input [attr.data-id]="12" /> -->
    <!-- <input [class.invalid]="user.username === ''" [class.valid]="user.username !== ''" class="form-input" type="text" [value]="user.username" (input)="setUserName($any($event.target).value)"> -->
    <!-- <input [ngClass]="{invalid: user.username === '', valid: user.username !== ''}" class="form-input" type="text" [value]="user.username" (input)="setUserName($any($event.target).value)"> -->
    <!-- <input [ngStyle]="{border: user.username === '' ? '2px solid red' : '2px solid green' }" class="form-input" type="text" [value]="user.username" (input)="setUserName($any($event.target).value)"> -->
    <input appRequired class="form-input" type="text" [value]="user.username" (input)="setUserName($any($event.target).value)">

  </div>
  <div>
    <label>Active</label>
    <input type="checkbox" [checked]="user.active">
  </div>
  <div>
    <label>Role</label>
    <select [value]="user.role">
      <option>member</option>
      <option>admin</option>
    </select>
  </div>
  <div>
    User : {{ user | json }}
  </div>
</form>
