<nav class="menu">
  <a href="#">Home</a>
  <a href="#about">About</a>
</nav>

<app-hello name="Romain"></app-hello>
<app-hello [name]="'Yven'"></app-hello>
<app-hello [name]="prenom"></app-hello>
<!-- <app-clock></app-clock> -->
<app-user-form></app-user-form>
<app-counter></app-counter>
<app-select [value]="prenom" [items]="['Romain', 'Yven']" (valueChange)="prenom = $event"></app-select>

<!-- BANANA IN A BOX [()] -->
<app-select [(value)]="prenom" [items]="['Romain', 'Yven']"></app-select>


<button *appIsAdmin>Accessible si admin</button>


<input type="text" [value]="name" (input)="name = inputRef.value" #inputRef>

<p>
  Value : {{ name }}
</p>


<button (click)="showClock = !showClock">{{ showClock ? 'Off' : 'On' }}</button>
<div>
  Delay :
  <input type="number" [valueAsNumber]="delay" (input)="delay = $any($event.target).valueAsNumber" />
</div>
<div>
  Format :
  <input type="text" [value]="format" (input)="format = $any($event.target).value" />
</div>

<app-clock *ngIf="showClock" [format]="format" [delay]="delay"></app-clock>

<app-template-driver-user-form></app-template-driver-user-form>
